<!DOCTYPE html>
<html>
<head>
<title>{% if page.title %}{{ page.title }} | {% endif %}{{ site.name }}</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link href="//fonts.googleapis.com/css?family=Josefin+Slab:400,600,700" rel="stylesheet" type="text/css">
<link href="/assets/css/app.min.css" rel="stylesheet" media="screen">
</head>
<body>
<div class="background"><div class="color">&nbsp;</div></div>

<div id="wrap" class="container">
  <div class="row-fluid">
    <div class="col-md-3 col-md-offset-1">
      <a class="logo" href="/">Imagineering Institute</a>

      <ul id="nav-main" class="nav">
        <li{% if page.url == '/people/' %} class="active"{% endif %}><a href="/people">People</a></li>
        <li{% if page.url == '/research/' %} class="active"{% endif %}><a href="/research">Research</a></li>
        <li{% if page.url == '/consulting/' %} class="active"{% endif %}><a href="/consulting">Consulting</a></li>
        <li{% if page.url == '/advocacy/' %} class="active"{% endif %}><a href="/advocacy">Advocacy</a></li>
      </ul>

      <ul id="nav-social">
        <li><a href="https://twitter.com/imagineeringMY" title="Twitter" target="_blank"><i class="fa fa-twitter fa-lg"></i></a></li>
        <li><a href="https://facebook.com/imagineering.institute" title="Facebook" target="_blank"><i class="fa fa-facebook-square fa-lg"></i></a></li>
      </ul>

      <p id="copyright">&copy;{{ site.time | date: '%Y' }} Imagineering Institute</p>
    <div>

    {{ content }}
  </div>
</div>
<script type="text/javascript" src="/assets/js/app.min.js"></script>
</body>
</html>
